.icon-display {
}

.button {
  margin: 5px;
  float: left;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.container {
  display: flex;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}


