 @import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.full-width-table {
  width: 100%;
}

.container {
  display: flex;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

.button {
  padding: 10px;
}

.paginator {
  margin-left: auto;
}


 .table-fixed {
   width: 100%;
 }

 /*This will work on every browser but Chrome Browser*/
 .table-fixed thead {
   position: sticky;
   position: -webkit-sticky;
   top: 0;

 }

 /*This will work on every browser*/
 .table-fixed thead th {
   position: sticky;
   position: -webkit-sticky;
   top: 0;

 }
