 @import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.full-width-table {
  width: 100%;
}

.container {
  display: flex;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

.button {
  padding: 10px;
}

.paginator {
  margin-left: auto;
}
