<div class="container">
  <div class="button">
    <button mat-raised-button
            [disabled]="selection?.isEmpty()"
            (click)="downloadselected()">
      Download
    </button>
  </div>
  <div class="button">
    <app-upload-button></app-upload-button>
  </div>
<!--
  <div class="button">
    <button mat-raised-button
            [disabled]="this.selection.selected.length == 0">
      Copy
    </button>
  </div>

  <div class="button">
    <button mat-raised-button
            [disabled]="this.selection.selected.length == 0">
      Move
    </button>
  </div>

  <div class="button">
    <button mat-raised-button color="warn"
            (click)="delete($event)"
            [disabled]="this.selection.selected.length == 0">
      Delete
    </button>
  </div>
-->
</div>

